body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; 
    color: #333; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

h1 {
    color: #555; 
    margin-bottom: 20px;
}

.btn {
    background-color: #616263; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    background-color: #5d5d5d; 
    transition: background-color 0.3s; 
}
